body {
    margin: 0;
    padding: 0;
    background: #FFF;
}

#content {
    background: #FFF;
}

#toolbar {
    font-size:x-large;
    padding: 5px;
    background: #E31937;
    cursor: pointer;
    color: #FFF;
}

    #toolbar .toolbaricon {
        margin-right: 5px;
    }

.left {
    float: left;
}

.right {
    float: right;
    direction:rtl;
}

.snap-drawer {
    /*background: #A5ACB0;*/
    background: #FFF;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 50%;
}
.about{
    color:darkblue;
    height:100%;
    position:page; 

}

